<style>
    .wrapper {grid-template-columns: repeat(3, 1fr);}
</style>


<div id="container-img-bachelor">
    <img id="img-bachelor" src="..\style\images\bachelor.jpg" alt="">
</div>


<div id="container-qui-suis-je" class="cv-containers-presentation">
    <div id="titre-qui-suis-je" class="cv-titre-containers">
        <p>QUI SUIS-JE</p>
    </div>
    <div id="speech-qui-suis-je" class="speech-containers">
        <p>
            Je m'appelle Flavio TAVERNIER, j'ai 19 ans et je suis actuellement étudiant en développement informatique au sein du <a href="https://www.onisep.fr/ressources/univers-formation/formations/post-bac/bts-services-informatiques-aux-organisations-option-b-solutions-logicielles-et-applications-metiers" target="_blank" class="liens"> BTS SIO option SLAM</a> au lycée Bonaparte de Toulon
        </p>



    </div>
    
</div>

<div id="container-hobbies" class="cv-containers-presentation">
    <div id="titre-hobbies" class="cv-titre-containers">
        <p>HOBBIES</p>
    </div>


    <div id="speech-hobbies" class="speech-containers">
        <div id="cv-presentaion-sport" class="sous-partie-hobbies">
            <div id="cv-texte-presentaion-sport">
                Sport : Trail, Vélo, Randonnée, Musculation, Ski, Tennis, Rugby
            </div>
            <img src="..\style\images\etagereSport2.png" alt="etagère sport" id="img-etagere-sport" class="img-hobbies">
        </div>
        <div id="cv-presentaion-aviation" class="sous-partie-hobbies">
            <div id="cv-texte-presentaion-aviation">
                <p>Aviation : Étude, <a href="veille" class="liens">Veille</a>, Simulation</p> 
            </div>
            <img src="..\style\images\avionFenetre.png" alt="vue fenetre avion" id="img-etagere-aviation" class="img-hobbies">
        </div>



    </div>
</div>





<div id="container-objectif" class="cv-containers-presentation">
    <div id="titre-objectif" class="cv-titre-containers">
        <p>OBJECTIFS</p>
    </div>

    <div id="speech-objectif" class="speech-containers">
        <p>
            Après l'obtention de mon diplôme, je me presenterai à différents concours afin de pouvoir réaliser un rêve d'enfance : devenir pilote de ligne.
            <br><br>
            Dans le cas où il est nécessaire pour moi de prendre plus de temps de préparation, j'intégrerai alors le diplôme <a href="https://www.enac.fr/fr/ingenieure-enac-par-apprentissage" target="_blank" class="liens">d'ingénieur aéronautique</a> en alternance proposé par l'ENAC
        </p>
    </div>
</div>



