<style>
    .wrapper {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(5, 1fr);
    }
</style>



<div id="bonifay" class="cv-containers-exp-pro">
    <div id="titre-bonifay" class="cv-titre-containers titre-container-pro">
        <div class="pro-container-texte-titre">
            <p>BONIFAY</p>
        </div>
        
        <div class="pro-container-texte-logo">
            <img src="..\style\logoCarteProCv\bonifay\bonifay.png" alt="logo Bonifay" id="logo-bonifay" class="logo-entreprise">
        </div>
    </div>
    
    <div id="speech-bonifay" class="speech-containers">
        <p>
            Apprentis développeur informatique
        </p>
    </div>
</div>

<div id="provence-verte" class="cv-containers-exp-pro">
    <div id="titre-provence-verte" class="cv-titre-containers titre-container-pro">
        <div class="pro-container-texte-titre">
            <p>CAPV</p>
        </div>
        
        <div class="pro-container-texte-logo">
            <img src="..\style\logoCarteProCv\provenceVerte\logoProvenceVerte.png" alt="logo Provence Verte" class="logo-entreprise">
        </div>
    </div>
    
    <div id="speech-provence-verte" class="speech-containers">
        <p>
            Saisonnier administrateur réseau
        </p>
    </div>
</div>


<div id="cannet" class="cv-containers-exp-pro">
    <div id="titre-cannet" class="cv-titre-containers titre-container-pro">
        <div class="pro-container-texte-titre">
            <p>Mairie du Cannet des Maures</p>
        </div>
        
        <div class="pro-container-texte-logo">
            <img src="..\style\logoCarteProCv\leCannet\logoCannet.png" alt="logo Provence Verte" class="logo-entreprise">
        </div>
    </div>
    
    <div id="speech-provence-verte" class="speech-containers">
        <p>
            Saisonnier administrateur réseau
        </p>
    </div>
</div>