.card-container {
    min-width: 400px;
    padding: 20px;
  }
  
  .card {
    height: 100%;
    width: 100%;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 8px;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  
  .card a {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* background-image: url('../style/images/code.png'); */
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.25s ease;
    position: relative;
    z-index: 1;
  }
  
  .card a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px); /* Applique le flou à la superposition */
    pointer-events: none; /* Permet de cliquer à travers la superposition */
    opacity: 0; /* Masque la superposition initialement */
    transition: opacity 0.25s ease;
    border-radius: 8px;
  }
  
  .card a:hover:before {
    opacity: 1; /* Affiche la superposition au survol */
  }
  
  .card a:hover {
    transform: translate(-5px, -5px);
    border-color: #ffde59;
  }
  
  .card a:hover .card--display {
    display: none;
    filter: blur(0);
  }


  .card a:hover .card--hover {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    filter: blur(0);
  }

  
  .card .card--display i {
    font-size: 60px;
  }
   
  .card .card--display h2 {
    margin: 20px 0 0;
  }

  .card .card--hover {
    display: none;
  }
      
  .card .card--hover h2 {
    margin-left: 20px;
  }
  
  .card .card--hover p {
    margin-left: 20px;
    font-weight: normal;
    line-height: 1.5;
  }
  
  .card .card--hover p.link {
    margin-left: 20px;
    font-weight: bold;
    /* color: white; */
    transform: rotate(+0deg);
  } 