#btn-home {
    border-bottom: 1px solid white !important;
    padding-top: 15px !important;
}

#titre-accueil {
    color: #ffde59;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-size: 80px;
    font-style: normal;
    margin-bottom: 20px;
}
